*singwanda
singwanda
singwanda/
/singwanda/

*facebook-scrapper
facebook-scrapper
facebook-scrapper/
/facebook-scrapper/

*bari
bari
bari/
/bari/

*ipynb
/ipynb
ipynb
ipynb/
/ipynb/

*vitual
virtual
/virtual
virtual/
/virtual/

*dumba
dumba
dumba/
/dumba/


*.pyc
*.sqlite3
*db.sqlite3
/db.sqlite3
/db.sqlite3/
/.sqlite3
*.pyc

/.eslintcache/
*.eslintcache
eslintcache
.eslintcache

# Packaging
*.pyc
*.exe
__pycache__
*__pycache__
/__pycache__
*.egg-info
/dist/
node_modules
/node_modules/

# venv
/bin/
/lib/
/share
/pyvenv.cfg
/pip-selfcheck.json